<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/assets/img/poap-badge.png" alt="" width="auto" height="70" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <!-- <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/en/resources/all">All Resources</a></li>
            <li><a class="dropdown-item" href="/en/resources/official">Official Resources</a></li>
            <li><a class="dropdown-item" href="/en/resources/community">Community Resources</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link me-3" href="/en/resources/all">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="/en/integrations/all">Integrations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-3" href="/en/resources/dev">Build</a>
        </li>
      </ul>
      <a class="btn btn-outline-primary" href="">Submit Resource</a>
    </div>
  </div>
</nav>