<header class="py-5 poap-purple-light">
  <div class="container text-center my-0 my-md-3 my-lg-5">
    {%- assign title = page.title | split: " " | first -%}
    <h1 class="display-6 fw-bold mb-0">{{title}} Resources</h1>
    {%- if page.permalink != "/en/resources/all" -%}
      <a href="/en/resources/all" class="btn btn-primary btn px-4 m-1">View All Resources</a>
    {%- endif -%}
  </div>
</header>


{%- assign all_categories = "" -%}
{%- for resource in site.data.resources -%}
  {%- assign all_categories = all_categories | append: ", " | append: resource.categories -%}
{%- endfor -%}
{%- assign all_categories = all_categories | append: ", official, community" -%}
{%- assign all_categories = all_categories | split: ", " | uniq | sort_natural -%}


<section class="container">
  <div class="row justify-content-center mt-5">
    <div class="col col-lg-6 col-md-10 text-center">
      {%- for category in all_categories -%}
        <a class="me-1 text-decoration-none" href="/en/resources/{{category}}">
          <span class="badge rounded-pill bg-light text-dark {{category}}">{{category}}</span>
        </a>
      {%- endfor -%}
    </div>
  </div>
</section>


<section class="container py-4 border-bottom">
  <div class="row row-cols-auto justify-content-center mt-4">
    {%- assign resources = site.data.resources -%}
    {%- assign filter = page.permalink | split: "/" | last -%}
    {%- if filter == "all" -%}
      {%- assign filter = "" -%}
    {%- elsif filter == "official" -%}
      {%- assign filter = "" -%}
      {%- assign resources = site.data.resources | where: "official", true -%}
    {%- elsif filter == "community" -%}
      {%- assign filter = "" -%}
      {%- assign resources = site.data.resources | where: "official", false -%}
    {%- endif -%}
    {%- for resource in resources -%}
      {%- if resource.categories contains filter -%}
        {%- if resource.link -%}
          <div class="col mb-4">
            <div class="card rounded-3 h-100" style="width: 18rem;">
              <div class="card-body d-flex align-items-start flex-column">
                <div class="mb-3">
                  {%- capture social_links -%}
                    {%- if resource.official == true -%}
                      <a href="https://twitter.com/poapxyz/" class="text-decoration-none me-1" target="_blank">
                        {{site.data.icons.twitter}}
                      </a>
                      <a href="https://github.com/poap-xyz" class="text-decoration-none me-1" target="_blank">
                        {{site.data.icons.github}}
                      </a>
                      <a href="https://discord.gg/fcxW4yR" class="text-decoration-none me-1" target="_blank">
                        {{site.data.icons.discord}}
                      </a>
                      <a href="https://reddit.com/r/poap" class="text-decoration-none me-1" target="_blank">
                        {{site.data.icons.reddit}}
                      </a>
                      <a href="https://t.me/poapxyz" class="text-decoration-none me-1" target="_blank">
                        {{site.data.icons.telegram}}
                      </a>
                      <a href="https://www.youtube.com/channel/UCvXWjomx55gbEjJ3PCPPezQ/videos" class="text-decoration-none me-1" target="_blank">
                        {{site.data.icons.youtube}}
                      </a>
                      <a href="https://medium.com/poap" class="text-decoration-none me-1" target="_blank">
                        {{site.data.icons.medium}}
                      </a>
                      <a href="https://www.linkedin.com/company/poapxyz/" class="text-decoration-none me-1" target="_blank">
                        {{site.data.icons.linkedin}}
                      </a>
                    {%- else -%}
                      {%- if resource.twitter -%}
                        <a href="{{resource.twitter}}" class="text-decoration-none me-1" target="_blank">
                          {{site.data.icons.twitter}}
                        </a>
                      {%- endif -%}
                      {%- if resource.github -%}
                        <a href="{{resource.github}}" class="text-decoration-none me-1" target="_blank">
                          {{site.data.icons.github}}
                        </a>
                      {%- endif -%}
                      {%- if resource.discord -%}
                        <a href="{{resource.discord}}" class="text-decoration-none me-1" target="_blank">
                          {{site.data.icons.discord}}
                        </a>
                      {%- endif -%}
                      {%- if resource.reddit -%}
                        <a href="{{resource.reddit}}" class="text-decoration-none me-1" target="_blank">
                          {{site.data.icons.reddit}}
                        </a>
                      {%- endif -%}
                      {%- if resource.telegram -%}
                        <a href="{{resource.telegram}}" class="text-decoration-none me-1" target="_blank">
                          {{site.data.icons.telegram}}
                        </a>
                      {%- endif -%}
                      {%- if resource.youtube -%}
                        <a href="{{resource.youtube}}" class="text-decoration-none me-1" target="_blank">
                          {{site.data.icons.youtube}}
                        </a>
                      {%- endif -%}
                      {%- if resource.medium -%}
                        <a href="{{resource.medium}}" class="text-decoration-none me-1" target="_blank">
                          {{site.data.icons.medium}}
                        </a>
                      {%- endif -%}
                      {%- if resource.linkedin -%}
                        <a href="{{resource.linkedin}}" class="text-decoration-none me-1" target="_blank">
                          {{site.data.icons.linkedin}}
                        </a>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endcapture -%}
                  {%- capture category_tags -%}
                    {%- assign resource_categories = resource.categories | split: ", " -%}
                    {%- assign type = "community" -%}
                    {%- if resource.official == true -%}
                      {%- assign type = "official" -%}
                    {%- endif -%}
                    <a class="me-1 text-decoration-none" href="/en/resources/{{type}}"><span class="badge rounded-pill bg-light text-dark {{type}}">{{type}}</span></a>
                    {%- assign resource_categories = resource.categories | split: ", " -%}
                    {%- for category in resource_categories -%}
                      <a class="me-1 text-decoration-none" href="/en/resources/{{category}}"><span class="badge rounded-pill bg-light text-dark {{category}}">{{category}}</span></a>
                    {%- endfor -%}
                  {%- endcapture -%}
                  {{category_tags}}
                </div>
                <h5 class="card-title mb-1">
                  <a href="{{resource.link}}" target="_blank" class="text-decoration-none link-dark">{{resource.title}} {{site.data.icons.new_tab}}</a>
                </h5>
                <p class="mb-2 text-muted"><small>{{resource.creator}}</small></p>
                <p class="card-text flex-grow-1">{{resource.desc_short}}</p>
                {%- assign description = resource.desc_short -%}
                {%- if resource.desc_long -%}
                  {%- assign description = resource.desc_long -%}
                {%- endif -%}
                {%- capture socials -%}
                {%- endcapture -%}
                <a class="btn btn-outline-primary btn-sm" 
                    data-bs-toggle="modal" 
                    data-bs-target="#resourceDetailModal"
                    data-bs-link="{{resource.link}}"
                    data-bs-title="{{resource.title}}"
                    data-bs-creator="{{resource.creator}}"
                    data-bs-desc="{{description}}"
                    data-bs-categories='{{category_tags}}'
                    data-bs-socials='{{social_links}}'
                    data-bs-docs="{{resource.docs}}">
                  Details
                </a>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>


<div class="modal" id="resourceDetailModal" tabindex="-1" aria-labelledby="resourceDetailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 id="rdmTitle" class="h4 modal-title"></h5>
        <p id="rdmCreator" class="modal-title mb-3 text-muted"></p>
        <div id="rdmSocials" class="mb-3"> 
          
        </div>
        <hr class="my-4 text-muted">
        <div id="rdmCategories" class="mb-3">
          <a class="me-1 text-decoration-none" href="/en/resources/official">
            <span class="badge rounded-pill bg-light text-dark official">official</span>
          </a>
        </div>
        <div class="mb-2">
          <small>
            <a id="rdmLink" href="" class="text-muted">
              <span id="rdmLinkText">Visit Link</span> {{site.data.icons.new_tab}}
            </a>
          </small>
        </div>
        <div class="mb-3">
          <small>
            <a id="rdmDocs" href="" class="text-muted">
              Documentation {{site.data.icons.new_tab}}
            </a>
          </small>
        </div>
        <p id="rdmDescription" class="mb-3"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>