<header class="page-header">
  <div class="header-bg-fade-in"></div>
  <div class="header-bg-fade-out"></div>
  <div class="container py-5 mt-5 mb-4 pt-lg-0 my-lg-0 poap-purple-dark">
    <div class="text-center my-0 my-md-3 my-lg-5">
      {%- comment -%}
        <!-- Pulls the page title from frontmatter and drops the " Resources" to use in the header.
        For example, if the page frontmatter title is "Activity Resources", it'll split it 
        creating ["Activity", "Resources"] and then take the first item, "Activity", and set 
        that as the value for the "title" variable. -->
      {%- endcomment -%}
      {%- assign title = page.title | remove: " Resources" -%}
      <h1 class="display-6 fw-bold mb-2">{{title}} Resources</h1>
      {%- comment -%}
        <!-- Shows the "View All Resources" button link if currently not on the All Resources page. -->
      {%- endcomment -%}
      {%- if page.permalink != "/en/resources/all" -%}
        <a href="/en/resources/all" class="btn btn-secondary btn px-4 m-1">View All Resources</a>
      {%- endif -%}
    </div>
  </div>
</header>


{%- comment -%}
  <!-- Runs through the list of resources, aggregates the categories, adds "poap-inc" and "third-party" 
  categories, and then filters the list to only have unique values. -->
{%- endcomment -%}
{%- assign all_categories = "" -%}
{%- for resource in site.data.resources -%}
  {%- assign all_categories = all_categories | append: ", " | append: resource.categories -%}
{%- endfor -%}
{%- assign all_categories = all_categories | append: ", poap-inc, third-party, new" -%}
{%- assign all_categories = all_categories | split: ", " | uniq | sort_natural -%}

{%- assign current_category = page.permalink | split: "/" | last -%}

<section class="container">
  <div class="row justify-content-center mt-5">
    <div class="col col-lg-6 col-md-10 text-center">
      {%- for category in all_categories -%}
        {%- comment -%}
          <!-- Highlight the category tag if it's the category currently being viewed. -->
        {%- endcomment -%}
        {%- assign category_active = "" -%}
        {%- if category == current_category -%}
          {%- assign category_active = "active-category" -%}
        {%- endif -%}
        <a class="me-1 text-decoration-none" href="/en/resources/{{category | replace: ' ', '-'}}">
          <span class="badge rounded-pill bg-light text-dark {{category}} {{category_active}}">{{category}}</span>
        </a>
      {%- endfor -%}
    </div>
  </div>
</section>


<section class="container py-4 border-bottom">
  <div class="row row-cols-auto justify-content-center mt-4">
    {%- assign resources = site.data.resources -%}
    {%- comment -%}
      <!-- Get page permalink to figure out what the current category is and filter the resource 
      list to only show that. For example, if the permalink is "/en/resources/activity" then 
      it'll split it to ["en", "resources", "activity"] and grab the last item, "activity", which 
      is the current category of items to show (since that's the page this is building for).

      If the page being built is for "all", "poap-inc", or "third-party", then those cases are 
      individually addressed since they aren't categories. -->
    {%- endcomment -%}
    {%- assign filter = page.permalink | split: "/" | last -%}
    {%- if filter == "all" -%}
      {%- assign filter = "" -%}
      {%- assign resources = site.data.resources | where: "hide_on_all", false -%}
    {%- elsif filter == "poap-inc" -%}
      {%- assign filter = "" -%}
      {%- assign resources = site.data.resources | where: "official", true -%}
    {%- elsif filter == "third-party" -%}
      {%- assign filter = "" -%}
      {%- assign resources = site.data.resources | where: "official", false -%}
    {%- endif -%}

    {%- comment -%}
      <!-- Now that the list of resources have been filtered to the current page context under the 
        "resource" variable, we will iterate through the list and create a card for each resource. -->
    {%- endcomment -%}
    {%- for resource in resources -%}
      {%- if resource.categories contains filter -%}
        {%- if resource.link -%}
          <div class="col resource-col mb-4">
            <div class="card resource-card rounded-3 h-100">
              <div class="card-body d-flex align-items-start flex-column">
                {%- if resource.new == true -%}
                    <div class="h5" style="position: absolute; top: -15px; left: -10px; ">
                      <a href="/en/resources/new">
                        <span class="badge bg-poap-purple-1">new!</span>
                      </a>
                    </div>
                  {%- endif -%}
                <a id="link{{resource.id}}" class="card-link" 
                  onclick="copyLink(this.id, '{{resource.link}}')"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Copied!" data-bs-trigger="click">
                  {{site.data.icons.link}}
                </a>
                <h5 class="card-title mb-1 pe-4">
                  <a href="{{resource.link}}" target="_blank" class="text-decoration-none link-dark">{{resource.title}} {{site.data.icons.new_tab}}</a>
                </h5>
                <p class="mb-2 text-muted"><small>{{resource.creator}}</small></p>
                <div class="mb-3">
                  {%- comment -%}
                    <!-- Build and save resource category tags to the "category_tags" variable. -->
                  {%- endcomment -%}
                  {%- capture category_tags -%}
                    {%- assign resource_categories = resource.categories | split: ", " -%}
                    {%- assign type = "third-party" -%}
                    {%- if resource.official == true -%}
                      {%- assign type = "poap-inc" -%}
                    {%- endif -%}
                    {%- comment -%}
                      <!-- Highlight the category tag if it's the category currently being viewed.  -->
                    {%- endcomment -%}
                    {%- assign category_active = "" -%}
                    {%- if type == current_category -%}
                      {%- assign category_active = "active-category" -%}
                    {%- endif -%}
                    <a class="me-1 text-decoration-none" href="/en/resources/{{type | replace: ' ', '-'}}"><span class="badge rounded-pill bg-light text-dark {{type}} {{category_active}}">{{type}}</span></a>
                    {%- assign resource_categories = resource.categories | split: ", " -%}
                    {%- for category in resource_categories -%}
                      {%- comment -%}
                        <!-- Highlight the category tag if it's the category currently being viewed.  -->
                      {%- endcomment -%}
                      {%- assign category_active = "" -%}
                      {%- if category == current_category -%}
                        {%- assign category_active = "active-category" -%}
                      {%- endif -%}
                      <a class="me-1 text-decoration-none" href="/en/resources/{{category | replace: ' ', '-'}}"><span class="badge rounded-pill bg-light text-dark {{category}} {{category_active}}">{{category}}</span></a>
                    {%- endfor -%}
                  {%- endcapture -%}
                  {{category_tags}}
                </div>
                <p class="card-text flex-grow-1">{{resource.desc_short}}</p>
                {%- comment -%}
                  <!-- Attach resource info to the details button to dynamically populate the 
                    modal with. -->
                {%- endcomment -%}
                <a class="btn btn-outline-primary btn-sm" onclick="showResourceModal({{resource.id}})">
                  Details
                </a>
              </div>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>


{%- include partials/resource-modal.html -%}

