.bg-primary {
  background-color: var(--primary-color);
}


.btn-primary {
  background-color: #b5aeff;
  border-color: #b5aeff;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #5e58a5;
  border-color: #5e58a5;
}

.btn-secondary {
  background-color: #f39bb6;
  border-color: #f39bb6;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #f39bb6;
  border-color: #f39bb6;
}

.btn-outline-primary {
  background-color: #fff;
  border-color: #5e58a5 !important;
  color: #5e58a5;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  border-color: #5e58a5 !important;
  background-color: #5e58a5;
  color: #fff;
}

a:hover {
    color: #5e58a5;
}


.poap-purple-1 {
  color: #b5aeff;
}
.bg-poap-purple-1 {
  background-color: #b5aeff;
}
.poap-purple-2 {
  color: #a8a6f4;
}
.bg-poap-purple-2 {
  background-color: #a8a6f4;
}
.poap-purple-light {
  color: #f0efff;
}
.bg-poap-purple-light {
  background-color: #f0efff;
}
.poap-purple-dark {
  color: #5e58a5;
}
.bg-poap-purple-dark {
  background-color: #5e58a5;
}
.poap-green {
  color: #d8f2c7;
}
.bg-poap-green {
  background-color: #d8f2c7;
}
.poap-violet {
  color: #eac9f8;
}
.bg-poap-violet {
  background-color: #eac9f8;
}
.poap-blue {
  color: #c2e6f5;
}
.bg-poap-blue {
  background-color: #c2e6f5;
}
.poap-red {
  color: #f39bb6;
}
.bg-poap-red {
  background-color: #f39bb6;
}
.poap-orange {
  color: #ffcfd1;
}
.bg-poap-orange {
  background-color: #ffcfd1;
}
.poap-pink {
  color: #ffecf1;
}
.bg-poap-pink {
  background-color: #ffecf1;
}

header {
  background-image: url(/assets/img/purple-bg.webp);
}


.social-icons img {
  height: 2rem;
}
footer li a {
  color: #8492ce;
}

  
.link-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}












